@import "tailwindcss";

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

ul,
ol {
    list-style: none;
}

body {
    font-family: sans-serif;
    line-height: 1.5;
    text-decoration: none;
}

.container-center {
    @apply container mx-auto;
}

.flex-center {
    @apply flex justify-center items-center;
}